
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@100;300;400&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  /* border: red 1px solid; */
}
body{
  background: linear-gradient(135deg, #333333, #555555, #777777);
}
#navbar{
  background-color: #333; 
  border-bottom: #be3144 solid 2px;
  padding: 18px; 
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 3.5rem;
  z-index: 10;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#navbar ul{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
}

#navbar li{
  margin-right: 2rem;
}
#navbar a{
  text-decoration: none;
  color: whitesmoke;
  font-size: 1.3rem;
  font-weight: 500;
  
}
#welcome-section{
  color: whitesmoke;
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin-left: 5%;
}

#name{
  font-size: 4rem;
  font-family: Montserrat,system-ui, -apple-system, BlinkMacSystemFont;
  margin-bottom: 2%;
}
#welcome-section span{
 
  font-size: 4rem;
  font-family: Montserrat,system-ui, -apple-system, BlinkMacSystemFont;
  margin-bottom: 2%;
}
#welcome-section span:hover{
  transition: all 0.3s;
  color: #be3144;
  font-size: 4rem;
  font-family: Montserrat,system-ui, -apple-system, BlinkMacSystemFont;
  margin-bottom: 2%;

}

#profession{
  font-size: 2.5rem;
}

